nav{
    position: relative;
    width: 78%;
    margin: 30px auto 30px auto;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
a{
    text-decoration: none;
    color: rgb(57, 57, 57);
}
.hfhf{
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.mini-containere{
    border: 2px solid silver;
    border-radius: 20px 20px 0 0 ;
}
.mini-photo_souse{
    border-radius: 20px 20px 0 0 ;
}
.nav1{
    background-color: rgb(234, 233, 233);
    border: none;
    border-radius: 20px;
    color: rgb(50, 50, 50);
    font-size: 20px;
    flex-direction:row;
    margin: 5px 0px 5px 30px;
    padding: 8px 15px;
    opacity: 70%;
}
.nav1:hover{
    background-color: rgb(228, 237, 250);
    padding: 10px 18px;
    margin: 0px 0px 0px 30px;
    transition: all 0.5s ease 0s;
    opacity: 1;
}
.top_menu{
    width: 100%;
}
.opisanie{
    max-width: 260px;
}
.main{
    margin-left: 200px;
    margin-right: 200px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.mini-photo{
    width: 250px;
    /* height: 250px; */
    border-radius: 20px;
}
.mini-photo_souse{
    width: 250px;
}
.price-container{
    display: flex; 
    align-items: center;
    gap: 100px;
}
.price{
    font-size: 25px;
}
.korzina{
    background-color: yellow;
    border: none;
    border-radius: 15px;
    font-size: 15px;
}
.korzina:hover{
    color: red;
    animation: backwards;
}
.count-buttoms{
    background-color: rgba(255, 255, 0, 0);
    border: none;
    font-size: 25px;
    font-weight: 100;
}

.footer_text1{
    color: white;
    margin-right: auto;
}
.footer_text2{
    color: white; 
    margin-right: 1%;
}
.footer1{
    border: 0px solid;
    background-color: black; 
}
.footer2{
    
    display: block;
    width: 78%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.footer3{
    display: flex;
}
.footer_icon{
    height: 30px;
    border-radius: 10px;
}
@media screen and (max-width: 850px){
    .footer2{
        display: inline;
        width: 78%;
    }
    .footer_text2{
        margin-left: 11%;
    }
    .footer_text1{
        margin-left: 11%;
        padding-top: 15px;
    }
    .footer3{
        margin-top: -10px;
    }
}
